.home-bg {
    background-image: url(../../images/Image/Rectangle\ 1.png);
    min-height: 100vh;
    background-size: cover;
}

.card-overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}

.logo {
    width: 25%;
}

.search-form .input-search {
    background: transparent;
    width: 15rem;
}

.login-btn {
    max-width: 15rem;
    font-weight: bold;
}
